
.logo {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: hsl(0, 0%, 100%);
  padding-top: 120px;
  padding-right: 12px;
}
.background {
  background-color: #45002d;
  background-image: url("https://www.transparenttextures.com/patterns/light-paper-fibers.png"); 
}
.userName {
  padding-bottom: 100px;
}