nav {
  height: 120px;
  width: 100%;
  position: fixed;
  background-color: #4056a1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}

nav > span {
  font-family: Bungee, sans-serif;
  margin-top: 40px;
  font-size: 70px;
  margin-left: 20px;
}

nav > div > .span {
  size: 50px;
}

nav > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}