.container {
  padding: 0;
  width: 90%;
  height: 100%;
}

#errorMessage {
  background-color: #b03838;
  color:#FFFFFF;
  padding: 5px;
  border: 1px solid #b03838;
  border-radius: 7px;
  margin: 10px auto;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tweetForm {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 75px;
}

/* styling the textarea & "What are you humming about?" section */
#tweetText {
  display: flex;
  border: none;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #c99d26;
  resize: none;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  color:  #c99d26;
}

/* styling for the content under the Tweet Form area */
div.buttonCount {
  margin-top: .5em;
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
}

/* styling the "Tweet" button */

.tweetButton {
  display: flex;
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.tweetButton:hover {
  background-color:  #c99d26;
}

/* styling the character count */
.counter {
  display: flex;
  margin-top: 10px;
  color: #3d3a3a;
  font-size: 14px;
  border: none;
} 
/* when the character limit is exceeded */
.counter.invalid {
  color: #b03838;
  font-weight: bolder;
}