
.tweetForm {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

}

/* styling the textarea & "What are you humming about?" section */
#tweetText {
  display: flex;
  border: none;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #545149 ;
  resize: none;
  width: 100%;
  font-weight: bolder;
  color:  #c99d26;
}

/* styling for the content under the Tweet Form area */
div.buttonCount {
  margin-top: .5em;
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
}

/* styling the "Tweet" button */
button[type="submit"] {
  display: flex;
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* styling the character count */
.counter {
  display: flex;
  margin-top: 10px;
  color: #3d3a3a;
  font-size: 14px;
  border: none;
} 
/* when the character limit is exceeded */
.counter.invalid {
  color: #b03838;
  font-weight: bolder;
}