.tweetBox {
  border: 1px solid black;
  border-style: solid;
  margin-bottom: 1em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.topBar {
  display: flex;
  justify-content: space-between;
  max-height: 100px;
  margin-bottom: 100px;
  padding-top: 10px;
}

.leftSide {
  display: flex;
  align-items: center;
  font-size: 21px;
  margin-left: 10px;
}

.tag {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  font-size: 15px;
}

.thumbnailImage {
  display: flex;
  padding-top: 5px;
  width: 75px;
  height: 75px;
}

.handle {
  display: flex;
}

.messageHere {
  display: flex;
  border: none;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #535047 ;
  resize: none;
  width: 95%;
  margin-left: 30px;
}

.bottomBar {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.date {
  font-size: 16px;
  margin-left: 15px;
  padding: 15px;
}

.rightSide {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 15px;
  gap: 5px;
  padding: 15px;
}

.rightSide i {
  color: #c99d26;
}

.rightSide i:hover {
  color: #bb6905;
}